/*
 * you must rename this file to "_settings.h" to work.
 * fill in all credentials for successful WiFi and MQTT connections
 */


const char* ssid = "#ssid"; // Name of WiFi network
const char* pass = "#pass"; // Password for WiFi network

const char* mqtt_server      = "broker.shiftr.io"; // MQTT broker 
const char* mqtt_client_id   = "#clientID"; // screen name, make it descriptive
const char* mqtt_username    = "#mqtt_username"; 
const char* mqtt_password    = "#mqtt_password"; 

const char* mqtt_subscribeTo = "#subtopic"; // topic you would like to subscribe
const char* mqtt_publishTo   = "#pubtopic"; // topic you would like to post to, others possible

/*
NO NEED TO CHANGE THE FOLLOWING LINES
*/

// Define the dimension of the U8x8log window
#define U8LOG_WIDTH 16 // (128 pixel wide / 8 = 16)
#define U8LOG_HEIGHT 8 // (128 pixel high / 8 = 8)
